.Home{
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
}
.sentence{
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
}